---
import BaseLayout from '../layouts/BaseLayout.astro';
import Cards from "../components/Cards.astro";
import SectionHeader from "../components/SectionHeader.astro";
import {pageTag, pageDescription,homeTdk} from '../data/content';
---

<BaseLayout
title={homeTdk.title  || ''}
description ={homeTdk.description  || ''}
keywords = {homeTdk.keywords  || ''}
>
	<div class="section hero">
		<div class="container">
			<SectionHeader
				tag={pageTag.index}
				description={pageDescription.index}>
    			Software Engineer
			</SectionHeader>
			<Cards />
		</div>
	</div>

</BaseLayout>



